POSTGRES_CONTAINER_NAME=lms_postgres

REDIS_CONTAINER_NAME=lms_redis

NGINX_CONTAINER_NAME=lms_nginx

WEB_CONTAINER_NAME=lms_web
WEB_SECRET_KEY=''
# 'true' para desenvolvimento local | 'false' para produção
WEB_DEBUG=false

# Credenciais de acesso à documentação (/docs/)
DOCS_USER=docs
DOCS_PASSWORD=senha123


