<!-- PAGE HEADER -->
<div id="form-header" hx-swap-oob="innerHTML">
    <div>
        <div class="form-card-title mb-0"> Múltipla Escolha </div>
        <div class="form-card-subtitle"> Adicione as alternativas para a questão e marque qual é a correta. </div>
    </div>
</div>

<form 
    hx-post="{{ request.path }}"
    hx-target="#main-content"
    hx-swap="innerHTML"> 
    {% csrf_token %}

    <!-- FORM PRINCIPAL -->
    {% include "global/partials/generic/create_or_update/_form.html" %}

    <!-- FORMSET -->
    {{ formset.management_form }}

    <div id="options-container">
        {% for option_form in formset %}
            {% include "activity/types/multiple_choice/_options.html" %}
        {% endfor %}
    </div>

    {% if formset.non_form_errors %}
        <div class="alert text-danger">
            {% for error in formset.non_form_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="d-flex justify-content-center mt-3">
        <button
            type="button"
            class="btn btn-outline-secondary rounded-5"
            hx-post="{% url 'activity:multiple_choice_exercise_add_option' %}"
            hx-target="#options-container"
            hx-swap="beforeend"
            onclick="updateFormValues(this)">
            + Adicionar opção
        </button>
    </div>

    <hr class="mt-3">

    <!-- Actions -->
    <div class="d-flex justify-content-end align-items-center gap-2">
        <div>
            <button
                type="button"
                class="btn btn-outline-secondary rounded-5">
                <i class="bi bi-x-circle me-1"></i>
                Cancelar
            </button>
            <button type="submit" class="btn btn-outline-primary rounded-5" id="btnSubmit">
                <i class="bi bi-check-circle me-1"></i>
                {{ submit_title|default:"Salvar" }}
            </button>
        </div>
    </div>
</form>

