.dropdown-menu {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdown-item:hover {
  border-radius: 0.5rem;
  background: var(--blue-100) !important;
  color: var(--blue-500);
}

.dropdown-item.active {
  background: var(--blue-100) !important;
  color: var(--blue-500);
}