nav > div > div > div > button > div:first-child {
  width: 32px;
  height: 32px;
}

.nav-link:hover {
  color: var(--gray-500) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn_header {
  background-color: transparent;
  color: var(--gray-550);
}

.btn_header:hover,
.btn_header:focus {
  background-color: var(--info);
  color: var(--gray-200);
}

.btn_header:hover > div > i,
.btn_header:focus > div > i {
  color: var(--info);
}
