html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

main {
    flex: 1; /* faz o conteúdo ocupar o espaço disponível */
}

/* FOOTER */
.footer { 
  bottom: 0 !important;
  background: var(--white)!important;
  padding: 1rem 0 1rem;
}

.footer-bottom {
  border-top: 1px solid rgba(80, 75, 75, 0.1) !important;
  text-align: center;
  font-size: 0.9rem;
  color: var(--gray-500);
}
