{% extends "global/partials/single_card.html" %}

{% block card_header %}
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold mb-0 text-dark-custom">{{ page_title }}</h2>
        {% if create_url %}
            <a href="{% url create_url %}" class="btn btn-success buttons a_custom"> 
                <i class="bi bi-plus-circle me-2"></i> Cadastrar
            </a>
        {% endif %}
    </div>
{% endblock card_header %}

{% block card_body %}
    {% if nav_tabs %}
        <ul class="nav nav-tabs">
            {% for tab in nav_tabs %}
                <li class="nav-item">
                    <a 
                        class="nav-link-custom nav-link {% if tab.active %}active{% endif %}"
                        {% if tab.active %}aria-current="page"{% endif %}
                        href="{% url tab.url %}"
                    >
                        {{ tab.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if object_list.all %}
        {% include "global/partials/table/table.html" %}
    {% else %}
        <div class="text-center py-5">
            <i class="display-1 text-muted mb-3 bi 
                {% if create_url %}
                    bi-list-task
                {% else %}
                    bi-database-x
                {% endif %}
            "></i>
            <h5 class="text-muted">Nenhum dado encontrado</h5>
            {% if create_url %}
                <p class="text-muted">Clique em "Cadastrar" para começar</p>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
