server {
    listen 80;
    server_name ${WEB_PUBLIC_DOMAIN_NAME};
    return 301 https://$host$request_uri;
}


server {
    listen 443 ssl;
    server_name ${WEB_PUBLIC_DOMAIN_NAME};

    ssl_certificate ${WEB_PUBLIC_CERT_CRT};
    ssl_certificate_key ${WEB_PUBLIC_PRIVATE_KEY};

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    # Outras configurações do servidor...
    location /sistemadegestaodeaprendizagem/ {
        proxy_pass http://$WEB_CONTAINER_NAME:8000/;

        proxy_read_timeout 300;
        proxy_connect_timeout 300;
        proxy_send_timeout 300;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Prefix /sistemadegestaodeaprendizagem;
    }

    client_max_body_size 10M;
}