{% load common_filters %}

<div class="table-responsive min-vh-table">
    <table class="table table-hover table-striped table-sm border">
        <thead>
            <tr>
                {% for field_name, value in object_list.0|get_model_only_fields:table.fields %}
                    <th>{{ field_name }}</th>
                {% endfor %}
                {% if table.actions %}
                    <th class="text-center">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    {% for field in table.fields %}
                        <td>{{ object|get_attr:field }}</td>
                    {% endfor %}
                    
                    {% if table.actions %}
                        {% include "global/partials/table/action_column.html" %}
                    {% endif %}
                </tr>                                    
            {% endfor %}
        </tbody>
    </table>
    {% include "global/partials/table/paginate.html" %}
</div>