<!-- Modal Reutilizável -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="d-flex mb-0 gap-2">
                    <div class="d-flex align-items-center justify-content-center fs-5">
                        {% if modal_icon %}
                            <i class="bi {{ modal_icon }} me-2"></i>
                        {% endif %}   
                    </div>  
                    <div>
                        <h1 class="modal-title" id="{{ modal_id }}Label">
                            {{ modal_title }}
                        </h1>
                        {% if modal_subtitle %}
                            <p class="modal-subtitle text-sm mb-0">{{ modal_subtitle }}</p>
                        {% endif %}
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                {% if modal_form %}
                    <form method="{{ modal_form_method|default:'POST' }}" action="{{ modal_form_action|default:request.path }}" id="{{ modal_form_id|default:modal_id }}">
                        {% csrf_token %}

                        <!-- Conteúdo específico da modal -->
                        {% if content_template %}
                            {% include content_template %}
                        {% endif %}

                        <!-- Footer com Botões -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary rounded-5" data-bs-dismiss="modal">
                                <i class="bi bi-x-circle me-1"></i> {{ modal_button_cancel|default:"Cancelar" }}
                            </button>
                            {% if not modal_hide_submit %}
                                <button type="submit" class="btn btn-outline-primary rounded-5">
                                    <i class="bi {{ modal_button_icon|default:'bi-check-circle' }} me-1"></i> {{ modal_button_submit|default:"Aplicar" }}
                                </button>
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
