{% extends "global/partials/base.html" %}

{% block title %} {{ page_title }} {% endblock title %}

{% block main %}
    <div class="row d-flex justify-content-center vh-100 p-5">
        <div class="{% if card.col %}{{ card.col }}{% else %}col-md-10{% endif %}">
            <div class="card shadow-sm border-0 mt-5">
                <div class="card-body pt-3">
                    {% block card_header %}{% endblock card_header %}
                    <hr>
                    {% block card_body %}{% endblock card_body %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
