
{% if teste %}
    {% for field in form %}
        {% if not field.is_hidden %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.errors %}
                    <div class="field-error">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    <div class="field-hint mb-3">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
{% else %}
    <div class="row align-items-end">
        {% for field in form %}
            {% if not field.is_hidden %}
                {% if field.label == 'Texto da Opção' %}
                    <div class="col">
                        <div class="form-group">
                            Opção {{ forloop.counter }}

                            {% if field.errors %}
                                <div class="field-error">
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            {{ field }}
                            
                            {% if field.help_text %}
                                <div class="field-hint mb-3">{{ field.help_text }}</div>
                            {% endif %}
                        </div>
                    </div>
                
                {% elif field.label == 'É Correta' %}
                    <div class="col-auto">
                        <div class="form-check">
                            {{ field }}
                            <label class="form-check-label small" for="correct-">Correta</label>
                        </div>
                    </div>
                    
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="removeOption(this)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                {% endif %}

            {% endif %}

        {% endfor %}    
            
    </div>
{% endif %}




