<!-- PAGE HEADER -->
 {% if object %}
    <div id="page-header" hx-swap-oob="innerHTML">
        {% with page_title=object.title page_description=object.created_by.get_full_name date_subtitle=object.updated_at  %}
            {% include "global/partials/_page_header.html" %}
        {% endwith %}
    </div>
{% endif %}

<!-- PAGE HEADER -->
<div id="form-header" hx-swap-oob="innerHTML">
    <div>
        <div class="form-card-title mb-0"> Adicionar Exercícios </div>
        <div class="form-card-subtitle"> Selecione abaixo o tipo de exercício que deseja adicionar. </div>
    </div>
</div>

{% if exercise %}
    {% include "activity/_exercise_item.html" %}
{% endif %}

<!-- Swap normal: seletor de tipo -->
{% include "activity/_exercise_form.html" %}
