{% extends "activity/detail.html" %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'global/css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/empty-state.css' %}">
    <link rel="stylesheet" href="{% static 'group/css/share_modal.css' %}">
{% endblock extra_head %}

{% block info_right %}

    <!-- Navigation Buttons -->
    <div class="d-flex align-items-center justify-content-end mt-2 mb-2 gap-2">
        <!-- Order Filter Button -->
        {% include "global/partials/_ordering.html" %}

        <!-- Filter Button -->
        {% include "global/partials/_search_filter.html" %}

        <!-- Shared Button -->
        <button type="button" class="d-flex btn btn-sm btn-outline-primary rounded-5" data-bs-toggle="modal" data-bs-target="#shareModal">
            <i class="bi bi-share me-2"></i>Compartilhar
        </button>
    </div>

    {% if object_list.all %}
        
        <!-- Filter Form -->
        <div id="reset_radius">
            {% include "global/partials/generic/list/_form_filter.html" %}
        </div>
    {% endif %}

    <!-- Information Section -->
    <div class="mb-4">
        {% if object_list.all and object.created_by == request.user %}
            {% include "global/partials/generic/list/_table.html" %}
            {% include "global/partials/_pagination.html" %}

        {% elif object_list.all and object.created_by != request.user %}
            {% with  view_type='table' not_has_permission=True %}
                {% include "global/partials/_data_not_found.html" %}
            {% endwith %}
            
        {% else %}
            {% with view_type='table' %}
                {% include "global/partials/_data_not_found.html" %}
            {% endwith %}
        {% endif %}    
    </div>

{% endblock info_right %}

{% block modal %}
    {{ block.super }}
    {% include "global/partials/_modal.html" with content_template="activity/_share_modal.html" %}    
{% endblock modal %}

{% block extra_script %}

    <script src="{% static 'global/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
    {{ form.media.js }}
    <script src="{% static 'activity/js/share_modal.js' %}"></script>

{% endblock extra_script %}
